@model UPTEAM.Infra.CrossCutting.Identity.Model.ForgotPasswordViewModel
@{
    ViewBag.Title = "Esqueceu sua senha?";
    Layout = "~/Views/Shared/_ExternalAreaLayout.cshtml";
    Page.Title = "Esqueceu sua senha?";
}
<div class="login-box-body">
    <h4 class="login-box-msg">@ViewBag.Title</h4>

    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <p>Forneça seu e-mail.</p>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary btn-flat" value="Enviar" />
            </div>
        </div>
    }
</div>
