<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UpTeam</title>
    @Styles.Render("~/Content/template")
    @RenderSection("css", required: false)
    <script>
        urlbase = '@Url.Content("~/")';

        usuarioLogado = '@Membership.GetUser().Email';
        usuarioLogadoNome = '@Membership.GetUser().UserName';
    </script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <a href="~/" class="logo">
                <span class="logo-mini"><b>UPT</b></span>
                <span class="logo-lg"><b>Up</b>Team</span>
            </a>
            <nav class="navbar navbar-static-top">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="hidden-xs"><span class="nomeUsuarioLayout"></span></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header">
                                    <p>
                                        <span class="nomeUsuarioLayout"></span>
                                    </p>
                                </li>
                                <li class="user-footer">
                                    <div class="row">
                                        <div class="col-md-12 margin-bottom-5">
                                            <a href="/Autenticacao/Logout" class="btn btn-default btn-block">Sair</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <div class="user-panel">
                    <div class="pull-left image">
                        <img class="img-circle" src="~/Content/Images/user2-160x160.jpg" />
                    </div>
                    <div class="pull-left info">
                        <p>@Membership.GetUser().UserName</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                        <br /><br />
                        <p>Nível: <span id="valor-nivel"></span></p>
                        <p>Experiência: <span id="valor-experiencia"></span></p>
                        <div class="progress sm">
                            <div id="nivel-porcento" class="progress-bar progress-bar-aqua"></div>
                        </div>
                    </div>
                </div>
                <!-- search form -->
                <ul class="sidebar-menu">
                    <li class="header">MENU</li>
                    <li>
                        <a href="~/">
                            <i class="fa fa-home"></i> <span>Página Inicial</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Equipe/Index">
                            <i class="fa fa-group"></i><span>Minhas Equipes</span>
                        </a>
                    </li>
                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            <!-- Conteudo -->
            @RenderBody()
        </div>
    </div>
    @Scripts.Render("~/bundles/template")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            $('.nomeUsuarioLayout').text(usuarioLogadoNome);
            $.get(urlbase + "Autenticacao/ObterPerfilUsuario?login=" + usuarioLogado, function (data) {
                console.log(data);
                $('#valor-experiencia').html(data.Src.Experiencia);
                $('#valor-nivel').html(data.Src.Nivel);
                $('#nivel-porcento').css('width', data.Src.ProximoNivelPorcento);
            });
        });
        $(document).on('click', "[data-dismiss=modal]", function () {
            $(this).closest('.modal').modal('hide')
        });
    </script>
</body>
</html>