@model UPTEAM.Models.MarcoModel

@{
    ViewBag.Title = "Detalhe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhe</h2>

<div>
    <h4>MarcoModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeMarco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeMarco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deadline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Projeto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Projeto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Editar", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
