@model UPTEAM.Models.EquipeModel

@{
    ViewBag.Title = "Detalhe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content-header">
    <h1>
        @Html.DisplayFor(model => model.NomeEquipe)
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Informações</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Descricao)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Descricao)
                </dd>

            </dl>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <p>
                @Html.ActionLink("Edit", "Editar", new { id = Model.IdEquipe }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
        <!-- /.box-footer-->
    </div>
    <!-- /.box -->
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Membros</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <p>Adicionar Membros:</p>
                    <label>Usuários:</label>
                    <input type="text" class="form-control" name="name" value="" />
                    <br />
                    <input type="submit" name="name" class="btn btn-primary" value="Adicionar" />
                </div>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
    @Html.ActionLink("Novo Projeto", "Criar", "Projeto")
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Projetos</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">

            @if (Model.ListaProjetos != null)
            {
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Projeto</th>
                            <th>Descrição</th>
                            <th>Data de Início</th>
                            <th>Data de Fim</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ListaProjetos)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NomeProjeto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DescricaoProjeto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DataInicioProjeto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DataTerminoProjeto)
                                </td>
                                <td>
                                    @Html.ActionLink("Editar", "Editar", "Projeto", new { id = item.IdProjeto }) |
                                    @Html.ActionLink("Detalhes", "Detalhe", "Projeto", new { id = item.IdProjeto }, null) |
                                    @Html.ActionLink("Delete", "Delete", new {/* id=item.PrimaryKey */})
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Projeto</th>
                            <th>Descrição</th>
                            <th>Data de Início</th>
                            <th>Data de Fim</th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            }
            else
            {

                <p>Essa Equipe ainda não possui Projetos.</p>

            }

        </div>
        <!-- /.box-body -->
    </div>

    @Html.ActionLink("Mensagens", "Criar", "Mensagem")
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Mensagens da Equipe</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">

            @if (Model.ListaMensagens != null)
            {
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Texto</th>
                            <th>Data de Envio</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ListaMensagens)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TextoMensagem)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DataEnvioFmt)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdUsuario)
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            }
            else
            {
                <p>Essa Equipe ainda não possui Mensagens.</p>
            }

            @using (Html.BeginForm("Criar", "Mensagem", FormMethod.Post))
            {
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label labelfor="NomeEquipe">Mnesagem:</label><br />
                            @Html.TextBoxFor(x => x.ListaMensagens.FirstOrDefault().TextoMensagem,
                    new { htmlAttributes = new { @class = "form-control", placeholder = "Texto" } })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Enviar" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
            <!-- /.box-body -->
        </div>

</section>
<!-- /.content -->