@model UPTEAM.Models.ProjetoModel

@{
    ViewBag.Title = "Detalhe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhe</h2>

<div>
    <h4>ProjetoModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeProjeto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeProjeto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescricaoProjeto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescricaoProjeto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataInicioProjeto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataInicioProjeto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataTerminoProjeto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataTerminoProjeto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EquipeProjeto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipeProjeto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
