@model UPTEAM.Models.ProjetoModel

@{
    ViewBag.Title = "Detalhe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        @Html.DisplayFor(model => model.NomeProjeto)
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Informações</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.NomeProjeto)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NomeProjeto)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DescricaoProjeto)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DescricaoProjeto)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DataInicioProjetoFmtd)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DataInicioProjeto)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DataTerminoProjeto)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DataTerminoProjetoFmtd)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EquipeProjeto)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EquipeProjeto)
                </dd>

            </dl>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <p>
                @Html.ActionLink("Editar", "Editar", new { id = Model.IdProjeto }) |
                @Html.ActionLink("Voltar", "Detalhe", "Equipe",Model.EquipeProjeto)
            </p>
        </div>
        <!-- /.box-footer-->
    </div>
    @Html.ActionLink("Nova Sprint", "Criar", "Sprint", new { @class="btn btn-primary" })
    <!-- /.box -->
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Sprints</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
           @if (Model.Sprints != null)
           {
               <table id="example2" class="table table-bordered table-hover">
                   <thead>
                   <tr>
                       <th>Sprint</th>
                       <th>Data Inicio</th>
                       <th>Data Fim</th>
                       <th>Quantidade de Tarefa</th>
                       <th></th>
                   </tr>
                   </thead>
                   <tbody>
                   @foreach (var sprint in Model.Sprints)
                   {

                       <tr>
                           <td>
                               @Html.DisplayFor(modelItem => sprint.ValorIteracao)
                           </td>
                           <td>
                               @Html.DisplayFor(modelItem => sprint.DataInicioFmt)
                           </td>
                           <td>
                               @Html.DisplayFor(modelItem => sprint.DataFimFmt)
                           </td>
                           <td>
                               @Html.DisplayFor(modelItem => sprint.Tarefas.Count)
                           </td>
                           <td>
                               @Html.ActionLink("Editar", "Editar","Sprint", new { id = sprint.IdSprint }, null) |
                               @Html.ActionLink("Detalhes", "Detalhe","Sprint", new{ id = sprint.IdSprint}, null) |
                               @Html.ActionLink("Delete", "Delete", "Sprint", new { id= sprint.IdSprint }, null)
                           </td>
                       </tr>
                   }
                   </tbody>
               </table>
           }
           else
           {
            <p>Essa Equipe não possui Sprints</p>
           }
        </div>
        <!-- /.box-body -->
    </div>
    @Html.ActionLink("Novo Marco", "Criar", "Marco")
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Marcos</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            @if (Model.Marcos != null)
            {
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Data Fim</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var marco in Model.Marcos)
                    {

                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => marco.NomeMarco)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => marco.Descricao)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => marco.DeadlineFmt)
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "Editar","Marco", new { id = marco.IdMarco }, null) |
                                @Html.ActionLink("Detalhes", "Detalhe","Marco", new{ id = marco.IdMarco}, null) |
                                @Html.ActionLink("Delete", "Delete", "Marco", new { id= marco.IdMarco }, null)
                            </td>
                        </tr>
                    }
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Data Fim</th>
                        <th></th>
                    </tr>
                    </tfoot>
                </table>
            }
            else
            {
                <p>Essa Equipe não possui Marcos</p>
            }
            

        </div>
        <!-- /.box-body -->
    </div>

</section>
<!-- /.content -->